@import 'tailwindcss';

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/fonts/Nunito-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/fonts/Nunito-Italic-VariableFont_wght.woff2') format('woff2');
}

